<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Order</title>
</head>
<body>
    
    <form action="/viewall" method="get">
        <input type="submit" value="View All Orders">
    </form>

    <form action="/" method="post">
        <input type="text" name="name" placeholder="name"><br>
        <input type="text" name="address" placeholder="address"> <br>
        <input type="number" name="battlepass" placeholder="Battlepass"> <br>
        <input type="number" name="card" placeholder="Card"> <br>
        <input type="number" name="dlc" placeholder="DLC"> <br>
        <input type="submit" value="New Order"> <br>
    </form>






</body>
</html>