<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Order</title>
</head>
<body>
    
    <form action="/viewall" method="get">
        <input type="submit" value="View All orders">
    </form>


    <form action="/" method="post">
        <input type="text" name="name">
        <input type="text" name="address">
        <input type="number" name="item1">
        <input type="number" name="item2">
        <input type="number" name="item3">
        <input type="submit" value="Submit">
    </form>



</body>
</html>