<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Order</title>
</head>
<body>
    
<form action="/viewall">
    <input type="submit" value="View all">
</form>
    

<form action="/" method="post">
    <input type="text" name="name" placeholder="name"> <br>
    <input type="text" name="address" placeholder="address"> <br>
    <input type="number" name="item1" placeholder="battlepass"> <br>
    <input type="number" name="item2" placeholder="card"> <br>
    <input type="number" name="item3" placeholder="dlc"><br>
    <input type="submit" value="Submit">
</form>



</body>
</html>